In [1]:
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
def mape_loss_func(preds, labels):
    mask = labels > 5
    return np.mean(np.fabs(labels[mask]-preds[mask])/labels[mask])

def smape_loss_func(preds, labels):
    mask= labels > 5
    return np.mean(2*np.fabs(labels[mask]-preds[mask])/(np.fabs(labels[mask])+np.fabs(preds[mask])))

def mae_loss_func(preds, labels):
    mask= labels > 5
    return np.fabs((labels[mask]-preds[mask])).mean()

def eliminate_nan(b):
    a = np.array(b)
    c = a[~np.isnan(a)]
    return c

In [3]:
randseed = 25
res = 11
num_dets = 30

v = pd.read_csv('../data/v_20_aggragated.csv')
v = v.rename(columns={'Unnamed: 0': 'id'})
# 以上 flow 制作完毕

dist_mat = pd.read_csv('../data/dist_mat.csv', index_col=0)
id_info = pd.read_csv('../data/id2000.csv', index_col=0)
dist_mat.index = id_info['id2']
dist_mat.columns = id_info['id2']
for i in range(len(dist_mat)):
    for j in range(len(dist_mat)):
        if i==j:
            dist_mat.iloc[i, j] = 0

near_id = pd.DataFrame(np.argsort(np.array(dist_mat.iloc[:num_dets, :num_dets])), index = id_info['id2'][:num_dets], columns = id_info['id2'][:num_dets])
# 以上near_road 制作完毕

In [4]:
#载入最近路段数据，流量数据
# distance = np.array(pd.read_csv('video_link_dis.csv',header = None))
near_road = np.array(near_id)
flow = np.array(v.iloc[:, 1:]) #注意header=0 or None

# to do
用前三天的数据取平均，得到之后数据的预测值

In [9]:
v.iloc[:, 4464-144*10:4464-144*7+1]

,2015-07-22 00:00:00,2015-07-22 00:10:00,2015-07-22 00:20:00,2015-07-22 00:30:00,2015-07-22 00:40:00,2015-07-22 00:50:00,2015-07-22 01:00:00,2015-07-22 01:10:00,2015-07-22 01:20:00,2015-07-22 01:30:00,...,2015-07-24 22:30:00,2015-07-24 22:40:00,2015-07-24 22:50:00,2015-07-24 23:00:00,2015-07-24 23:10:00,2015-07-24 23:20:00,2015-07-24 23:30:00,2015-07-24 23:40:00,2015-07-24 23:50:00,2015-07-25 00:00:00
0,70.284348,70.115455,70.475092,68.180000,73.262143,62.120000,68.20,64.500000,64.400000,65.038621,...,58.872414,60.099822,64.042727,65.026154,66.283333,64.820000,64.141600,67.552000,70.96,69.998667
1,68.240000,68.562759,67.502857,60.360000,61.980000,63.460000,63.80,64.660000,65.900000,61.520769,...,75.725926,77.178350,77.887407,79.162308,81.840000,76.566897,79.120000,81.340000,82.10,81.700000
2,49.450435,46.785862,50.917783,55.782963,44.800000,48.400000,45.00,59.000000,45.200000,57.400000,...,49.580000,54.060000,52.860000,56.340000,49.028571,52.200000,51.000000,41.901538,40.60,46.000000
3,74.112174,69.857273,73.514286,71.500000,73.796429,72.309286,67.78,73.840000,67.280000,69.618621,...,61.693422,67.254696,68.162727,67.693077,75.795000,73.720000,73.172800,74.708800,75.98,78.924000
4,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.00,88.470714,90.000000,88.283846,...,79.780000,83.780000,79.726667,85.680000,88.080000,81.080000,87.480000,87.977460,88.48,90.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,82.820000,83.125714,83.188696,83.118400,83.024800,82.768182,83.60,82.946364,82.712308,83.600000,...,85.854400,84.721639,85.403200,84.707244,86.294167,86.900000,85.558261,85.636667,86.90,85.895833
398,62.000000,61.486154,64.900714,62.396552,62.512308,61.611111,64.24,63.335714,63.240000,62.081379,...,66.040000,66.140000,68.220000,63.540000,58.220000,64.640000,63.380000,70.360000,70.22,67.100000
399,65.220000,66.683846,63.041429,65.265517,61.878462,51.516296,56.46,55.028571,58.560000,56.327586,...,60.220000,61.180000,64.240000,61.760000,58.520000,61.040000,60.120000,62.060000,61.42,63.040000
400,60.400000,60.480000,63.119130,64.392308,61.272800,61.376522,62.80,61.726667,61.054615,61.760000,...,57.748800,62.135017,62.086957,61.941323,61.915833,63.400000,62.860870,61.220000,62.40,62.263333
401,70.560000,70.503810,68.488696,69.341481,69.640800,70.435833,70.44,68.267826,70.611538,70.520000,...,74.016154,72.948896,74.254783,72.230000,73.208000,73.340000,71.597391,71.909167,67.66,70.540000

In [22]:
v_his1 = flow[:, 4464-144*10-1:4464-144*9-1]
v_his2 = flow[:, 4464-144*9-1:4464-144*8-1]
v_his3 = flow[:, 4464-144*8-1:4464-144*7-1]

In [35]:
v_pre = (v_his1+v_his2+v_his3)/3

In [36]:
v_pre.shape

(402, 144)

In [37]:
v_pre = np.concatenate((v_pre, v_pre, v_pre, v_pre, v_pre, v_pre), axis=1)

In [38]:
label = flow[:, 4464-144*7-1:4464-144-1]
label.shape

(402, 864)

In [39]:
mape = mape_loss_func(v_pre, label)
print(mape)

0.11755217977498847